/* Global Styles */

section, div, p {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

.top-heading {
    margin: 20px auto;
    padding-bottom: 30px;
    max-width: 350px;
    font-size: 36px;
    text-align: center;
    border-bottom: 3px solid #000;
}

    .top-heading__word {
        font-family: 'Gloria Hallelujah', cursive;
        font-style: italic;
        text-transform: lowercase;
    }

    .top-heading__word--top {
        text-align: left;
        margin-bottom: 10px;
    }

    .top-heading__word--bottom {
        text-align: right;
    }

    .top-heading__acronym {
        display: inline-block;
        min-width: 40px;
        font-family: 'Varela Round', sans-serif;
        font-size: 72px;
        font-weight: bold;
    }

.introduction {
    margin: auto;
    max-width: 390px;
}

    .introduction__image {
        width: 150px;
        display: inline;
        vertical-align: text-bottom;
    }

    .introduction__text {
        margin-top: 10px;
        display: inline-block;
        max-width: 235px;
        text-align: center;
    }

        .introduction__text-section {}

        .introduction__text-section:first-child {
            margin-bottom: 15px;
        }

.acronym-explanation {
    margin-top: 15px;
}

    .acronym-explanation__heading {
        text-align: center;
    }

    .acronym-explanation__table {
        margin: auto;
        width: 250px;
        margin-top: 10px;
    }

        .acronym-explanation__acronym {}

            .acronym-explanation__acronym-letter {
                font-family: 'Varela Round', sans-serif;
                font-size: 50px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 20%;
            }

            .acronym-explanation__acronym-description {
                display: inline-block;
                vertical-align: middle;
            }

.simple-input {
    margin-top: 15px;
    text-align: center;
}

    .simple-input__heading {}

    .simple-input__subtext {}

    .simple-input__label {
        margin-top: 15px;
        display: block;
    }

    .simple-input__label--gender {
        margin-top: 5px;
        display: inline-block;
    }

    .simple-input__age {
        display: block;
        margin: auto;
        width: 50px;
        height: 25px;
        border: 1px solid #000;
        margin-top: 5px;
    }

    .simple-input__radio {
        display: inline-block;
        margin: 0 20px;
    }

@media screen and (min-width: 760px) {
    .introduction {
        max-width: 660px;
    }

        .introduction__text {
            min-width: 500px;
        }
}

